
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Importation de la police Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


body {
  font-family: 'Inter', sans-serif;
  
  /* On en profite pour définir la couleur de fond par défaut */
  --ion-background-color: #f4f5f8; // Un gris très clair, à ajuster si besoin
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  /* On indique que ce fichier gère toutes les graisses de 100 (Thin) à 900 (Black) */
  font-weight: 100 900; 
  src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ion-accordion-group{
    ion-accordion {
        .ion-accordion-toggle-icon {
            color: var(--ion-color-dark);
        }
    }
}

ion-button.primary-button {
  --background: #ff8c00; // Couleur orange comme sur l'image
  --background-activated: #e67e00;
  --background-hover: #e67e00;
  --color: white;
  --border-radius: 25px; // Coins très arrondis
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  
  height: 50px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: none;
}

.my-select-alert .alert-radio-label {
  color: var(--ion-color-dark) !important; 
}

.my-select-alert .alert-button {
  color: var(--ion-color-dark) !important;
}