<!-- src/app/pages/top-up/topup-receipt/topup-receipt.page.html -->
<ion-content [fullscreen]="true">
  <div class="header-container">
    <ion-buttons slot="start" aria-hidden="true">
      <ion-button>
        <ion-icon slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>

    <h1>Receipt</h1>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="assets/icons/share-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="main-content">
    <div class="receipt-card">
      <div class="success-icon">
        <ion-icon src="assets/icons/success-checkmark.svg"></ion-icon>
      </div>

      <h2>Top-up Successful!</h2>
      <p class="subtitle">Your funds have been added to your wallet.</p>

      <div class="details-container" *ngIf="mode && sourceLabel">
        <div class="detail-row">
          <span>No. Ref</span>
          <strong>121112224455</strong>
        </div>

        <div class="detail-row">
          <span>Top-up Amount</span>
          <strong>{{ amount | number:'1.2-2' }} MAD</strong>
        </div>

        <div class="detail-row">
          <span>Funding Source</span>
          <strong>{{ sourceLabel }}</strong>
        </div>

        <ion-accordion-group expand="inset">
          <ion-accordion value="details">
            <ion-item slot="header">
              <ion-label>See Detail</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div class="detail-row">
                <span>Mode</span>
                <strong>{{ mode === 'card' ? 'Card' : 'Bank transfer' }}</strong>
              </div>

              <div class="detail-row">
                <span>Date & Time</span>
                <strong>{{ today | date:'d MMMM y, h:mm a' }}</strong>
              </div>

              <div class="detail-row">
                <span>Fee</span>
                <strong>Free</strong>
              </div>

              <div class="detail-row">
                <span>Total Added</span>
                <strong>{{ amount | number:'1.2-2' }} MAD</strong>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        
      </div>
    </div>

    <ion-button expand="block" class="done-button" (click)="done()">Done</ion-button>
  </div>
</ion-content>
